#contactRoot {
    margin: 0;
} 

#social {
    max-height: 90px;
    padding-top:10px;
    padding-bottom:10px;
    display:block;
    margin:auto;
    justify-content: center;
    align-items: stretch;
    padding-left: 40px;
    padding-right: 40px;
}

input[type=email], input[type=text], textarea {
    width: 100%;
    resize: vertical;
}

.justify {
    justify-content: center;
    display: flex;
    align-content: center;
}

#phone {
    justify-content: center;
    align-content: center;
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}

@media screen and (max-width: 950px) {
    #contactRoot { 
        margin-top: 180px;
    }
}  

@media screen and (max-width: 840px) {
    #social {
        padding-left: 20px;
        padding-right: 20px;
    }
}  
@media screen and (max-width: 640px) {
    #social {
        padding-left: 10px;
        padding-right: 10px;
    }
}  