.educationP {
  padding: 0;
  margin-bottom: 0;
}

.about-image {
  max-height: 90px;
  margin-bottom: 15px;
}

.float-left {
  float: left;
  margin-right: 5px;
}

/* .aboutTitle {
  margin-left: 0px;
  margin-right: 0px;
} */

@media screen and (max-width: 1100px) {
  .about-image {
      max-height: 60px;
  }
  .educationH {
    font-size: 14px;
  }
  .educationP {
    font-size: 14px;
  }
}

@media screen and (max-width: 903px) {
  .about-image {
      max-height: 50px;
  }
  .educationH {
    margin-bottom: 0;
  }
  .educationP {
    font-size: 13px;
  }
}

@media screen and (max-width: 768px) {
  .about-image {
      max-height: 90px;
  }
  .educationH {
    font-size: 16px;
    margin-bottom: 6px;
  }
  .educationP {
    font-size: 16px;
  }
}
